body {
	background: rgb(50,41,70);
	font-family: 'Roboto Slab', serif;
}

audio {
	display: none;
}

.clear {
	clear: both;
}

#game {
	display: none;
	text-align: center;
}

#top {
	width: 960px;
	margin: 0 auto;
}

#levels {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
	text-align: right;
	margin-top: 90px;
	font-size: 1.3em;

	border: 1px solid white;
    border-radius: 20px;
	padding: 5px;
	margin-right: -350px;
}

.active {
	color: black !important;
	font-weight: bold;
	border: #FF7E00 1px solid;
	background-color: #FF7E00;
	border-radius: 20px 20px 20px 20px;
}

#options {
	width: 960px;
	height: 70px;
	margin: 0 auto;
}

#question-box {
	border: 1px solid white;
	border-radius: 50px 50px 50px 50px;
	color:white;
	width: 960px;
	margin: 0 auto;
	padding: 10px;
	font-size: 1.5em;

	display: flex;
	justify-content: center;
	align-items: center;

	height:75px;
	margin-top:10px;

	z-index: 10;
	background: rgb(50,41,70) !important;
}

.big-text {
	color: #FF7E00;
	font-size: 2em;
	margin-right: 15px;
}

#money {
	font-size: 1.9em;
	font-weight: bold;
	color: orange;
	float: right;
	display: block;
	height: 50px;
	padding-top: 20px;
	margin-right:-340px;
}

#logo {
	width: 480px;
	float: left;
	margin-left: 240px;
	margin-top: 60px;
}

#game-over {
	display: none;
	font-size: 8em;
	font-weight: bold;
	color: white;
	width: 980px;
	margin-top: 300px;
	margin: 0 auto;
	text-align: center;
}

#fifty {
	background: url('../img/50-50.png') no-repeat;
}

#phone-friend {
	background: url('../img/phone-friend.png') no-repeat;
}

#audience {
	background: url('../img/audience.png') no-repeat;
}

#answer-box {
	color: white;
	font-size: 1.3em;
	text-align: left;
	width: 960px;
	margin: 0 auto;
}

#pre-start {
	display: none;
}

.answer:hover {
	cursor: pointer;
}

.answer{
	z-index: 10;
	background: rgb(50,41,70);
	border: 1px solid white;
	border-radius: 50px 50px 50px 50px;
	display: flex;
	align-items: center;
	height: 75px;
	margin-bottom:20px;
}

.options-button {
	width: 64px;
	height: 64px;
	margin-left: 12px;
	float: left;
	background-position: 0 0;
	cursor: pointer;
}

.options-button:hover {
	background-position: 0 -64px !important;
}

.white{
	color:white;
}
.orange{
	color:orange;
}


#l0{
	z-index: -1;
	width: 100%;
	top: -265px;
	position: relative;
}

#l1{
	z-index: -1;
	width: 100%;
	top: -165px;
	position: relative;
}

#l2{
	z-index: -1;
	width: 100%;
	top: -80px;
	position: relative;
}